.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.all {
  display: flexbox;
 
}

.img {
  height: 400px;
  display: flexbox;
}

.titulo {
  color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
}

.precio {
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.categoria {
  border-radius: 50px;
  background-color: rgb;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rating {
  background-color: rgb;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.descripcion {
  margin-top: 30px;
  background-color: rgb;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.oneDescripcion {
  background-color: rgb;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
