.ctnSuperior {
  display: flex;
  flex-direction: column;
}

.ctnDetalles {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 5%;
}

.h1 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 940px;
  width: 843px;
  min-height: auto;
  min-width: auto;
  position: relative;
  float: left;
  display: block;
  box-sizing: border-box;
}

.img {
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
}

.ctnCompra {
  width: 40%;
  height: 100%;
}


.titulo {
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-weight: 400;
  font-size: 28px;
  border-top: solid 1px rgb(0, 0, 0);
  border-bottom: solid 1px rgb(0, 0, 0);
  /* font-family: "Courier New", Courier, monospace; */
}

.Ctnprecio {
  font-family: inherit;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p {
  font-family: inherit;
  font-weight: 400;
  margin-top: 0px;
  font-size: 17px;
  line-height: 1.1em;
}

.precio {
  font-family: inherit;
  font-weight: 600;
  margin-top: 0px;
  font-size: 25px;
  line-height: 1.1em;
}

.ctnDescripcion {
  width: 23%;
}

.tituloDescripcion {
  font-family: inherit;
  font-weight: 400;
  font-size: 25px;
  text-align: left;
}

.texDescripcion {
  font-weight: 400;
  margin-top: 18px;
  font-size: 13px;
  text-align: left;
  letter-spacing: 0.5px;
  line-height: 1.5em;
}

.añadir {
  width: 100%;
  margin-top: 10px;
  padding: 8px 3px;
  border: 0;
  color: rgb(255, 255, 255);
  font-family: inherit;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 400;
  background-color: #000000bb;
  border-radius: 0.35em;
  cursor: pointer;
}

.añadir:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
  border: solid 1px black;
}

.comprar {
  width: 100%;
  margin-top: 30px;
  padding: 8px 3px;
  border: 0;
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: #000000;
  border-radius: 0.35em;
  cursor: pointer;
}
.comprar:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
  border: solid 1px black;
}

.contador {
  font-family: roboto, sans-serif;
  font-size: 16px;
  background-color: #ffff;
  color: #000;
  height: 42px;
  width: 150px;
  border: 1px solid #dddd;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.boton {
  font-family: roboto, sans-serif;
  font-size: 14px;
  background-color: rgb(20, 20, 20);
  color: rgb(250, 248, 248);
  width: 22px;
  cursor: pointer;
  font-weight: 800;
}

.boton:hover {
  background-color: rgba(20, 20, 20, 0.664);
}

.review {
  margin: 10px 0px 10px 0px;
}


