
.all {
  font-family: roboto, sans-serif;
  font-size: 16px;
  height: 942px;
  width: 1300px;
  border: 1px solid #DDDD;
  margin: 0 249px 0 249px;
  display: flex;
  box-sizing: border-box;
 
}

.h1{
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  height: 940px;
  width: 843px;
  min-height: auto;
  min-width: auto;
  position: relative;
  float: left;
  display: block;
  box-sizing: border-box;
}

.img {
  height: 400px;
  display: flexbox;
}

.shortDes{
font-family: roboto, sans-serif;
font-size: 16px;
height: 448px;
width: 452px;
padding: 32px 32px 32px 32px;
display: block;
box-sizing: border-box;

}

.titulo {

  color: rgb(0, 0, 0);
  font-family: roboto, sans-serif;
  font-size: 24 px;
  font-weight: 500;
  line-height: 28px;
  background-color: #FFFF;
  background-position: 0% 0%;
  height: 28px;
  width: 3880px;
  margin: 8px 0 8px 0;
  display: block;
  box-sizing: border-box;
}

.precio {
  font-family: roboto, sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 300;
  line-height: 0px;
  background-color: #FFFF;
  height: 40px;
  width: 388px;
  margin: 16px 0 14px 0;
  position: relative;
  top: 0px;
  bottom: 0px;
  display: block;
  box-sizing: border-box;

}

.categoria {
  border-radius: 50px;
  background-color: rgb;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rating {
  background-color: rgb;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.descripcion {
  margin-top: 30px;
  background-color: rgb;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.oneDescripcion {
  background-color: rgb;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.cart {
  font-family: roboto, sans-serif;
  font-size: 16px;
  background-color: #FFFF ;
  height: 166.33px;
  width: 388px;
  margin: 20px 0 0 0;
  display: block;
  box-sizing: border-box;
}

.añadir {
  font-family: roboto, sans-serif;
  font-size: 18px;
  text-decoration: none solid rgb(52, 131, 250);
  text-align: center;
  word-spacing: 0px;
  background-color: #cadef8;
  color: #3333da;
  height: 46px;
  width: 389px;
  margin: 24px;
  padding: 12px 20px 12px 20px;
  display: inline-block;
  cursor: pointer;
  transform: none;
  /* outline: rgb(255, 0, 0) dashed 1.25px; */
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}

.comprar {
  font-family: roboto, sans-serif;
  font-size: 18px;
  text-decoration: none solid rgb(52, 131, 250);
  text-align: center;
  word-spacing: 0px;
  background-color: #3483FA;
  color: #FFFF;
  height: 46px;
  width: 389px;
  margin: 24px;
  padding: 12px 20px 12px 20px;
  display: inline-block;
  cursor: pointer;
  transform: none;
  /* outline: rgb(255, 0, 0) dashed 1.25px; */
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}

.contador{
  font-family: roboto, sans-serif;
  font-size: 16px;
  background-color: #ffff;
  color: #000;
  height: 42px;
  width: 100px;
  border: 1px solid #DDDD;
  padding: 0 10px 0 10px;
  position: relative;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.boton {
  font-family: roboto, sans-serif;
  font-size: 16px;
  background-color: rgb(20, 20, 20);
  color: rgba(250, 248, 248, 0);
  height: 20px;
  width: 18px;
  min-height: auto;
  min-width: auto;
  display: block;
  cursor: pointer;
  box-sizing: border-box;

}

/* .count{
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 40px;
  text-decoration: none solid(34, 34, 34);
  text-align: center;
  word-spacing: 0px;
  background-color: #FFFF;
  background-position: 0% 0%;
  color: #2222;
  height: 40px;
  width: 40px;
  min-height: auto;
  min-width: auto;
  display: block;
  transition: all 0.3s ease-out 0s;
  box-sizing: border-box;
} */