.btn {
  margin: 0 auto;
  padding: 1em 1.5em;
  border: 0;
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-weight: 600;
  font-size: 0.5em;
  letter-spacing: 1px;
  background-color: #000000;
  border-radius: 0.35em;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(141, 137, 137, 0.541);
  color: rgb(0, 0, 0);
}

.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
}

.Card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 50px;
  width: 245px;
  height: 370px;
  text-align: center;
  top: 0px;
  position: relative;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 0;
  overflow: hidden;
  border: 1px solid rgba(14, 13, 13, 0.788);
  background-color: rgba(255, 255, 255, 0.02);
}

.Card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 30px 40px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  background-color: rgb(255, 255, 255);
  border: 1.5px solid rgba(0, 0, 0, 0.212);
}

.PR {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20px;
}

.precio {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
}

.image {
  height: 200px;
  width: 120px;
  object-fit: cover;
  object-position: center center;
}
