.landing_container{
  font-family: roboto, sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: #222;
  background-position: 0% 0%;
  color: rgba(0, 0, 0, 0.267);
  height: 303px;
  width: 480px;
  margin: 30px 772px 30px 772px;
  max-width: 480px;
  position: absolute;
  /* top: 187px;
  bottom: -187px; */
  display: block;
  box-sizing: border-box;
  } 

  .drinks_text{
      color: white;
      background-color: #222;
      border-radius: 3px #fff;
      font-family: roboto, sans-serif;
      font-size: 18px;
      letter-spacing: 1px;
      text-decoration: none;
      text-align: center;
      background-position: 0% 0%;
      height: 40px;
      width: 420px;
      padding: 0 0 20px 0;
      display: block;
      box-sizing: border-box;
  }
  
  
  .button_home {
    font-family: roboto, sans-serif;
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    background-color: rgb(5, 5, 5);
    background-position: 0% 0%;
    height: 48px;
    width: 126px;
    margin: 0 5px 0 5px;
    display: inline-block;
    box-sizing: border-box;
      
  }
  .link_text {
    font-family: roboto, sans-serif;
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    background-position: 0% 0%;
    height: 48px;
    width: 126px;
    margin: 0 5px 0 5px;
    display: inline-block;
    box-sizing: border-box;
      
  }
  .link_text:hover {
    background-position: right center; 
    color: rgb(109, 109, 109);
    text-decoration: none;
  }

  .button_home:hover {
      background-position: right center;
      color: rgb(109, 109, 109);
      text-decoration: none;
    }
  
    
      
     .welcome_text {
      color: white;
      background-color: #222;
      font-family: roboto, sans-serif;
      font-size: 18px;
      letter-spacing: 1px;
      text-decoration: none;
      text-align: center;
      background-position: 0% 0%;
      height: 40px;
      width: 420px;
      padding: 0 0 20px 0;
      display: block;
      box-sizing: border-box;

    }
  
  
  