.Login {
    margin-top: 12%;
    margin-left: 35%;
    border: 2px solid gainsboro;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    height: max-content;
    width: 30%;
    border-radius: 7px;
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
}

.titleLogin {
margin-bottom: 4rem;


    /* margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; */

}


.link{
    margin-top: 3rem;
}



.username {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 15px;
}

.password {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 35px;
}

.title {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 0.9rem;
}

.input {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;

  /* position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%; */

  /* margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; */
}



.btn{
    background-color: black;
    color:white;
    width: 100%;
    height:35px;
    border-radius: 0.25rem;
}