.NavBar {
  background-color: rgb(0, 0, 0);
  top: 0px;
  width: 100%;
  overflow: hidden;
  height: 110px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.imgIcono {
  height: 150px;
  width: 200px;

}

.ctnRegis{
  display: flex;
}

.linkCart {
  height: 30px;
  width: 30px;
  color: #ffffff;
}

.linkCart:hover {
  color: rgb(207, 117, 0);
}

.btns {
  margin-left: 20px;
  padding: 0.4em ;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: #00000000;
  cursor: pointer;
  width: 100px;
}

.btns:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(207, 117, 0);
  border: 1px solid rgb(207, 117, 0);
}


.userImg{
  margin-top: 50px;
  
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
}

.nameUser{
  color: white;
  margin-top: 50px;
  margin-bottom: 10px;
}

.logout{
  margin-top: 50px;
  margin-bottom: 10px;
  width: 60px;
  height: 30px;
}

